
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-left: 2px;
  }
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
   }
   
   .input-times-section{
    display: flex;
    flex-direction: column;
}

body p{
  font-size: 1.6rem;
  font-weight: 500;
}

body span{
  font-size: 1.2rem;
  font-weight: 500;
}

.table-img{
  width: 480px;
    height: 800px;
    background-image: url(./tabla.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

